body{
    background-color: hsl(0,0%,10%);
}

.to-do-list{
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 100px;
}

h1{
    font-size: 4rem;
    color: white;
}

button{
    font-size: 1.7rem;
    font-weight: bold;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.add-button{
    background-color: hsl(125,47%,54%);
    margin-left: 10px;
}

.add-button-error{
    background-color: hsl(125,0%,54%);
    pointer-events: none;
}

.add-button:hover{
    background-color: hsl(125,47%,44%);
}

.delete-button{
    background-color: hsl(10,90%,50%);
    padding: 9px 13px;
    font-size: 1.4rem;
    margin-left: 30px;
}

.delete-button:hover{
    background-color: hsl(10,90%,40%);
}

.move-button{
    background-color: hsl(207,90%,64%);
    padding: 9px 12px;
    font-size: 1.4rem;
    margin-left: 10px;
}

.move-button:hover{
    background-color: hsl(207,90%,54%);
}
input[type="text"]{
    font-size: 1.6rem;
    padding: 10px;
    border: 2px solid hsla(0,0%,80%, 0.5);
    border-radius: 5px;
    color: hsla(0,0%,0%,0.5);
    flex: 1; /* Allows input to grow and shrink */
    min-width: 0; /* Ensures input can shrink below its content size */
    max-width: 20rem;
}

ol{
    padding: 0;
    margin-top: 50px;
}

li{
    font-size: 2rem;
    font-weight: bold;
    padding: 15px;
    background-color: hsl(0,0%,97%);
    margin-bottom: 10px;
    border: 3px solid hsl(0,0%,85%,0.75);
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.text{
    flex:1;
    overflow-y: hidden;
    overflow-x:visible;
}

.vertical-line{
    border-right: solid 2px rgb(107, 107, 107);
    padding-left: 25px;
}

.checkbox{
    width: 3em;
    height: 3rem;
}

.task-checked{
    text-decoration: line-through;
    color: rgb(172, 172, 172);
}

.char-counter{
    margin-left: 0; /* Removes left margin for small screens */
    margin-top: 10px; /* Adds top margin for better spacing */
    text-align: center; /* Centers text on small screens */
    width: 100%;
}

.Heading{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}


@media only screen and (max-width: 767px) {
    .delete-button{
      margin-left: 0px;
      scale: 0.6;
    }
  }

  @media only screen and (max-width: 767px) {
    .move-button{
      margin-left: 0px;
      scale: 0.6;
    }
  }

  @media only screen and (max-width: 767px) {
    .vertical-line{
      display: none;
    }
  }

  @media only screen and (max-width: 767px) {
    li{
        font-size: 1.5rem;
        font-weight: bold;
        padding: 2px;
        background-color: hsl(0,0%,97%);
        margin-bottom: 1px;
        border: 3px solid hsl(0,0%,85%,0.75);
        border-radius: 5px;
        display: flex;
        align-items: center;
    }
  }